.bgImgRadius{
    border-radius: 20px;
}

.homeHeadContent{
    color: #217ca7;
    font-size: 18px;
    /* font-weight: 900 !important; */
}

.homeSubContent{
    color: #FFF;
    font-size: 18px;
    /* font-weight: 900 !important; */
}